html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    height: 100%;
}
nav{
    display: flex;
    background-color: rgb(31, 30, 29);
    padding: 1em;
    justify-content: space-between;
    margin: -8px;
    margin-bottom: 0px;
    
    position: relative;
    align-items: center;
    z-index: 1;
    
}
h1{
    background-color: rgb(31, 30, 29);
    
    display: grid;
}

#dropDown{
    display: grid;
    font-weight: bold;
    font-size: 22px;
}
.grid{
    display: grid;
}
.gridItem{
    grid-row: 1;
    grid-column: 1;
}
.dropDownMenu{
    background-color: rgb(17, 16, 15);
    margin: 0px;
    margin-left: -8px;
    margin-right: -8px;
    height: 100vh;
}
#dropDownMenu2{
    background-color: rgb(66, 66, 65);
    
    
}

.menuitems{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
    margin-left: 10%;
    
    
}
.menuitem{
    font-size: 1.5em;
    text-decoration: underline;
    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background:none;
    border: none;
   
}
.buttonClass{
    z-index: 2;
    position: relative;
}
